body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    display: flex;
}
.login-box{
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
    height: 20%;
    min-width: 300px;
    min-height: 300px;
    box-sizing: border-box;
    border: 3px solid darkgray;
    border-radius: 10%;
    display: flex;
}
#login-form{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#login-form input{
    position: relative;

}
#login{

}
#password{

}