body,html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
  }
.container{
    width:100%;
    height: 100%;
    display: flex;
}
/*List-navigation bar styling*/
.list{
    height: 100%;
    width: 20%;
    background-color: darkslategrey;
    display: flex;
}  
.list ul{
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.list li{
    margin: 30px;
    word-wrap:normal;
}
.list li a{
    color: white;
}
/*Data section formatting*/
.box{
    margin: 20px;
    width: 95%;
    height: 20%;
    background-color: lightgray;
}
.total{
    width: 100%;
    height: 100%;
}
/*Items list section formatting*/
#items{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}
.itemsBox{
    width: 70%;
    min-height: 80px;
    margin: 0 auto;
    border-top: 1px solid darkgray;
    position: relative;
}
.itemsBox p {
    margin-left: 10px;
    margin-top: 10px;
}
.nameBox{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonBoxEdit{
    position: relative;
    background: url('../icons/edit-bg.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    object-fit: fill;
    float: right;
    margin: 1px;
}
.buttonBoxDelete{
    position:relative;
    width: 50px;
    height: 50px;
    object-fit: fill;
    float: right;
    margin: 1px;
    background: url('../icons/bin.png');
    background-size: cover;
}
/*Edit window*/
.editBox{
    width: 100%;
    height: 100%;
    background-color: azure;
    display: flex;
}
#editForm{
    width: 50%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
}
.editField{
    box-sizing:border-box;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
} 
.EditButton{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#editForm select{
    box-sizing:border-box;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
#editForm select:invalid{
    color: green;
}
#editForm select,
#editForm select option{
    color: black;
}